body {
    background-color: #303030;
}

$darkblue: #343a40 !important;


.video-window {
    position: absolute;
    width: 120rem;
    height: 62.3rem;
    top: -49rem;
    min-height: 45%;
}

.navbar {
    background-color: #212121 !important;
}

header {
    background: none !important;
    height: 13.3rem !important;

    .wrapper {
        position: relative;
        width: 1140px;
        height: 13.3rem;
        margin: 0 auto;
        background: url("../images/head_logo.a20c2d473a93.png") left top no-repeat;
        z-index: 1;


        .head_title_sm {
            position: absolute;
            bottom: 90px;
            font-size: 14px;
            color: #353535;
            text-transform: uppercase;
        }

        .head_title {
            position: absolute;
            bottom: 40px;
            font-size: 40px;
            font-weight: 900;
            text-transform: uppercase;
            color: #353535;
            text-shadow: 1px 1px rgba(255, 255, 255, 0.5), 1.5px 1.5px 8px #000000;
        }

        .user_menu {
            float: right;
            display: block;
            font-size: 0;

            a {
                color: #353535;
                display: inline-block;
                font-size: 12px;
                background: rgba(0, 0, 0, 0.2);
                padding: 2px 8px;
                text-decoration: none;
                border-right: solid 1px #353535;

                &:last-child {
                    border-right: none;
                }
            }
        }
    }
}



.header {
    &-image-wrapper {
        background: #E74C3C url(../img/Banner.png) top center no-repeat;
        display: flex;

        // Small devices (landscape phones, 576px and up)
        @media (min-width: 576px) {
            display: flex;
        }

        // Medium devices (tablets, 768px and up)
        @media (min-width: 768px) {
            display: none;
        }

        // Large devices (desktops, 992px and up)
        @media (min-width: 992px) {
            display: none;
        }

        // Extra large devices (large desktops, 1200px and up)
        @media (min-width: 1200px) {
            display: none;
        }
    }

    &-video-wrapper {
        background-color: black;
        display: none;
        justify-content: center;

        // Small devices (landscape phones, 576px and up)
        @media (min-width: 576px) {
            display: none;
        }

        // Medium devices (tablets, 768px and up)
        @media (min-width: 768px) {
            display: flex;
        }

        // Large devices (desktops, 992px and up)
        @media (min-width: 992px) {
            display: flex;
        }

        // Extra large devices (large desktops, 1200px and up)
        @media (min-width: 1200px) {
            display: flex;
        }

    }
}


.main-section {
    max-width: 1920px;
    min-width: 1180px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 50px;
    background-color: #303030;
    background-attachment: local;
    background: url("../images/CB_Background.png") top center;
    color: #C8C8C8;
}

.card {
    background-color: #303030;
    color: #6C6C6C;
    border-radius: 0;

    .progress-bar {
        background-color: #4C4C4C;
        color: #C8C8C8;
    }

    .card-title {
        color: #C8C8C8;
    }

    .small-bars {
        height: .7rem;
        &-title {
            margin-bottom: -1.5rem;
            color: #C8C8C8;
        }
    }
}


.mission-planner-wrapper {
    display: flex;
    justify-content: center;

    .iframeContainer {
        justify-content: center;
        display: flex;
        align-items: center;
        height: 24rem;
        padding: 1rem;
        border: none;
    }
}

.square {
    margin: 0.7rem 0.5rem 0 2rem;
    width: 16px;
    height: 16px;
    &-red {
        background-color: #dc3545;
    }
    &-blue {
        background-color: #007bff;
    }
}

